html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 90em) {
  html {
    font-size: 65%;
  }
  h1 {
    padding-top: 1.5em;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 65%;
  }
  h1 {
    padding-top: 1.5em;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 70em) {
  html {
    font-size: 55%;
  }
  h1 {
    padding-top: 1.5em;
  }
}

@media (max-width: 65em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 55em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 50em) {
  html {
    font-size: 35%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: white;
  background-image: url("wallpaper1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #080808;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #080808;
  z-index: 10;
}

.nav-list {
  display: flex;
}

.nav-list a {
  display: block;
  font-size: 2.4rem;
  padding: 2rem;
  padding-right: 5em;
  padding-left: 5em;
}

.nav-list a:hover {
  background: #060606;
  border-radius: 50px;
}

#main-section {
  font-family: "Caveat", cursive;
  color: white;
  text-align: center;
  font-size: 10rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main-section > p {
  color: white;
  text-align: center;
  font-size: 7rem;
}
